<h2>Event Details</h2>
<ul class="block-list event-list">
    <!-- add links to events -->
    <!-- add api key for google maps -->
    <li>
        <div class="box fountain"></div>
        <h3>Ceremony</h3>
        <h4>Irvine Park</h4>
        <div class="address-container">
            <img class="pin" src="https://chart.googleapis.com/chart?chst=d_map_pin_letter&chld=A|FE6256|000000">
            <address>
                <div>251 Walnut St.</div>
                <div>Saint Paul, MN 55102</div>
            </address>
        </div>
        <span class="label">5:00 PM - 6:00 PM</span>
    </li>
    <li>
        <div class="tildes"></div>
    </li>
    <li>
        <div class="box caves"></div>
        <h3>Celebration</h3>
        <h4>Wabasha Street Caves</h4>
        <div class="address-container">
            <img class="pin" src="https://chart.googleapis.com/chart?chst=d_map_pin_letter&chld=B|43AAFD|000000">
            <address>
                <div>215 Wabasha St. S</div>
                <div>Saint Paul, MN 55107</div>
            </address>
        </div>
        <span class="label">6:00 PM - 12:00 AM</span>
    </li>
</ul>