<h2>Event Details</h2>
<ul class="block block-list event-list">
    <!-- TODO: add links to events -->
    <!-- TODO: add api key for google maps -->
    <li>
        <div class="box {{page.events.ceremony.image}}"></div>
        <h3>Ceremony</h3>
        <h4>{{page.events.ceremony.name}}</h4>
        <div class="address-container">
            <img class="pin" src="https://chart.googleapis.com/chart?chst=d_map_pin_letter&chld=A|FE6256|000000">
            <address>
                <div>{{page.events.ceremony.address1}}</div>
                <div>{{page.events.ceremony.address2}}</div>
            </address>
        </div>
        <span class="label">{{page.events.ceremony.time}}</span>
    </li>
    <li>
        <div class="tildes"></div>
    </li>
    <li>
        <div class="box {{page.events.celebration.image}}"></div>
        <h3>Celebration</h3>
        <h4>{{page.events.celebration.name}}</h4>
        <div class="address-container">
            <img class="pin" src="https://chart.googleapis.com/chart?chst=d_map_pin_letter&chld=B|43AAFD|000000">
            <address>
                <div>{{page.events.celebration.address1}}</div>
                <div>{{page.events.celebration.address2}}</div>
            </address>
        </div>
        <span class="label">{{page.events.celebration.time}}</span>
    </li>
</ul>