<div class="title-container">
    <span class="event-date">July 4th</span>
    <h2>Rehersal / Dinner</h2>
</div>
<div class="block">
    <h4>{{page.rehersal.name}}</h4>
    <div class="address-container">
        <img class="pin" src="https://chart.googleapis.com/chart?chst=d_map_pin_letter&chld={{page.rehersal.pinlabel}}|{{page.rehersal.pinhex}}|000000">
        <address>
            <div>{{page.rehersal.address1}}</div>
            <div>{{page.rehersal.address2}}</div>
        </address>
    </div>
</div>