<a href="#" id="rsvp-link">RSVP</a>
<div id="rsvp">
    <div class="rsvp-form">
        <form action="http://api.bethandtyler.com/guest" method="post" class="form-horizontal">
            <fieldset>
                <legend>RSVP</legend>
                <div class="control-group">
                    <label for="firstName" class="control-label">First Name</label>
                    <div class="controls">
                        <input type="text" name="firstName" id="firstName" placeholder="First Name">
                    </div>
                </div>
                <div class="control-group">
                    <label for="lastName" class="control-label">Last Name</label>
                    <div class="controls">
                        <input type="text" name="lastName" id="lastName" placeholder="Last Name">
                    </div>
                </div>
                <div class="control-group">
                    <label for="emailAddress" class="control-label">Email</label>
                    <div class="controls">
                        <input type="text" name="emailAddress" id="emailAddress" placeholder="Email Address">
                    </div>
                </div>
                <div class="control-group">
                    <label for="additionalCount" class="control-label">Additional Guests</label>
                    <div class="controls">
                        <input type="text" name="additionalCount" id="additionalCount" class="input-mini" value="0">
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn">Submit</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>