// Colors
$yellow: #EED847;
$white: #FFFEFC;
$gray: #7F7A77;
$mid_gray: #999;
$dark_gray: #635f5d;
$blue: #3a87ad;
//

html, body {
    height: 100%;
}

body{
    color: $white;
    text-align: center;
    font-family: times;
    line-height: normal;
}

ul{
    margin: 0;
}

h1{
    display: none;
}

h4{
    font-weight: bold;
    font-size: 26px;
}

address{
    font-style: italic;
    padding: 5px;
    margin: 0;
}

a{
    color: $gray;
    text-decoration: underline;
}

a.btn{
    text-decoration: none;
}

a:hover{
    color: $blue;
}

/* Positioning containers */
#container{
    min-height: 100%;
    background-color: $yellow;
    /* background-image: url(../images/paper_fibers.png); */
}

.top-container{
    background-color: $gray;
    width: 100%;
    height: 200px;
    border-bottom: 14px solid #FFF;
    position: relative;
}

.bottom-container{
    position: relative;
    width: 100%;
}

.bottom-line-container{
    width: 100%;
    position: absolute;
    bottom: 0;
}

.top-line-container{
    width: 100%;
}

.footer-container{
    background-color: $gray;
    height: 300px;
    border-top: 9px solid #fff;
}

.title-container{
    position: relative;
}

/* Braces */
.brace{
    font-family: 'Brawler', serif;
    position: absolute;
    font-size: 400px;
    top: -129px;
}

.brace-left{
    left: -200px;
}

.brace-right{
    right: -200px;
}

/* Header content */
.name-container{
    margin: 0 auto;
    height: 105px;
    width: 400px;
    position: relative;
}

.name{
    font-family: 'Tangerine', cursive;
    font-weight: 700;
    font-size: 100px;
    text-shadow: 2px 2px $dark_gray;
    position: absolute;
}

.name-one{
    left: 20px;
}

.name-two{
    right: 20px;
}

.and{
    font-size: 110px;
    color: $dark_gray;
}

.blurb{
    font-family: 'Diplomata SC', cursive;
    color: #efefef;
    font-size: 26px;
}

.date-container{
    margin: 0 auto;
    width: 400px;
}

.date{
    font-family: 'Six Caps', sans-serif;
    font-size: 100px;
    text-transform: uppercase;
    color: $dark_gray;
}

/* Register */
#register-container{
    margin: 0 auto;
}

/* Box pics */
.box.fountain{
    background-image: url(../images/fountain.png);
}

.box.caves{
    background-image: url(../images/caves.png);
}

.tildes{
    background-image: url(../images/tilde.png);
    background-repeat: repeat;
    height: 21px;
    margin: 0 0 20px 0;
}

.pad{
    margin: 20px 0;
}

/* Body content */
.body{
    margin: 0 auto;
    margin-top: 100px;
    width: 500px;
    text-align: left;
    font-family: 'Brawler', serif;
}

.box{
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: #fff;
    border: 1px solid $mid_gray;
    height: 140px;
    width: 140px;
}

.body h2{
    font-weight: 700;
    font-size: 42px;
    color: #635f5d;
    padding: 10px 0;
}

.body section{
    margin-bottom: 60px;
}

section .block{
    color: $mid_gray;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: 1px solid $mid_gray;
    background-color: #fff;
    box-shadow: 5px 5px 5px #888;
    padding: 20px;
    overflow: hidden;
}

.body section .block-content{
    color: $dark_gray;
}

ul.block-list{

}

ul.block-list li{
    overflow: hidden;
    //padding: 10px 0;
}

ul.block-list li:first-child
{
    //padding: 0;
}

.address-container{

}

.address-container .pin{
    float: left;
    padding-top: 7px;
    padding-right: 10px;
}

/* RSVP */
#rsvp legend {
    font-family: 'Tangerine', cursive;
    font-size: 32px;
    padding-left: 40px;
}

.rsvp-form{
    background-color: #fff;
    color: $dark_gray;
    display: none;
    border: 1px solid $mid_gray;
}

#rsvpModal{
    color: #000;
}

#rsvpModal form{
    margin: 0;
}

.rsvp-container{
    text-align: center;
}

/* Events */
ul.event-list{

}

ul.event-list li{
}

ul.event-list li h3{
    font-family: 'Tangerine', cursive;
    font-size: 36px;
}

ul.event-list .box{
    float: right;
}

.event-list p{
    margin: 20px 0 0 0 ;
}

.event-container{
    overflow: hidden;
}

.event-container h3,
.event-container h4{
    margin: 3px 0;
}

.event-date{
    position: absolute;
    bottom: 10px;
    right: 0;
    font-size: 21px;
    color: $gray;
}

/* Accommodations */
ul.hotel-list{

}

ul.hotel-list li{
}

ul.hotel-list li h3{
    font-weight: bold;
    font-size: 26px;
}

ul.hotel-list .map{
    float: left;
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin-right: 20px;
    border: 1px solid $mid_gray;
}

.hotel-list p{
    margin: 20px 0 0 0;
}

.hotel-container{
    overflow: hidden;
}

/* Gifts */
.mono{
    font-family: 'Cutive Mono', serif;
    font-size: 16px;
}

.mono p{
    padding-bottom: 10px;
}

/* Footer */
footer .heart{
    font-size: 200px;
    font-family: sans-serif;
}

footer a{
    color: #353535;
}