html, body {
	height: 100%;
}

body{
	color: #FFFEFC;
	text-align: center;
	font-family: times;
}

h1{
	display: none;
}

/* Positioning containers */
#container{
	min-height: 100%;
	background-color: #EED847;
}

.top-container{
	background-color: #7F7A77;
	width: 100%;
	height: 200px;
	border-bottom: 6px solid #FFF;
	position: relative;
}

.bottom-container{
	position: relative;
	width: 100%;
}

.bottom-line-container{
	width: 100%;
	position: absolute;
	bottom: 0;
}

.top-line-container{
	width: 100%;
}

.footer-container{
	background-color: #7F7A77;
	height: 300px;
	border-top: 6px solid #fff;
}

/* Braces */
.brace{
	position: absolute;
	font-size: 250px;
	top: -50px;
}

.brace-left{
	left: -75px;
}

.brace-right{
	right: -75px;
}

/* Header content */
.name-container{
	margin: 0 auto;
	height: 105px;
	width: 400px;
	position: relative;
}

.name{
	font-family: 'Tangerine', cursive;
	font-weight: 700;
	font-size: 100px;
	text-shadow: 2px 2px #635f5d;
	position: absolute;
}

.name-one{
	left: 20px;
}

.name-two{
	right: 20px;
}

.and{
	font-size: 110px;
	color: #635f5d;
}

.blurb{
	font-family: 'Brawler', serif;
	font-size: 28px;
	text-shadow: 2px 2px #635f5d;
}

.date-container{
	margin: 0 auto;
	width: 400px;
	padding-top: 10px;
}

.date{
	font-family: 'Diplomata SC', cursive;
	font-size: 26px;
	text-transform: uppercase;
	color: #635f5d;
}

/* Body content */
.body{
	margin: 0 auto;
	margin-top: 100px;
	width: 500px;
	text-align: left;
}

.box{
	-moz-border-radius: 15px;
	border-radius: 15px;
	background-color: #fff;
	border: 2px solid #7F7A77;
	height: 100px;
	width: 100px;
}

.body h2{
	font-weight: 700;
	font-size: 42px;
	color: #635f5d;
	border-bottom: 2px solid #fff;
}

ul.block-list li{
	overflow: hidden;
	padding: 20px 0;
}

/* Events */
ul.event-list{

}

ul.event-list li{
}

ul.event-list li h3{
	font-size: 36px;
}

ul.event-list .box{
	float: right;
}

/* Accommodations */
ul.hotel-list{

}

ul.hotel-list li{
}