html, body {
	height: 100%;
}

body{
	color: #FFFEFC;
	text-align: center;
	font-family: times;
}

h1{
	display: none;
}

address{
	font-style: italic;
}

a{
	color: #8492F0;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

/* Positioning containers */
#container{
	min-height: 100%;
	background-color: #EED847;
}

.top-container{
	background-color: #7F7A77;
	width: 100%;
	height: 200px;
	border-bottom: 14px solid #FFF;
	position: relative;
}

.bottom-container{
	position: relative;
	width: 100%;
}

.bottom-line-container{
	width: 100%;
	position: absolute;
	bottom: 0;
}

.top-line-container{
	width: 100%;
}

.footer-container{
	background-color: #7F7A77;
	height: 300px;
	border-top: 9px solid #fff;
}

/* Braces */
.brace{
	font-family: 'Brawler', serif;
	position: absolute;
	font-size: 400px;
	top: -129px;
}

.brace-left{
	left: -200px;
}

.brace-right{
	right: -200px;
}

/* Header content */
.name-container{
	margin: 0 auto;
	height: 105px;
	width: 400px;
	position: relative;
}

.name{
	font-family: 'Tangerine', cursive;
	font-weight: 700;
	font-size: 100px;
	text-shadow: 2px 2px #635f5d;
	position: absolute;
}

.name-one{
	left: 20px;
}

.name-two{
	right: 20px;
}

.and{
	font-size: 110px;
	color: #635f5d;
}

.blurb{
	font-family: 'Diplomata SC', cursive;
	color: #efefef;
	font-size: 26px;
}

.date-container{
	margin: 0 auto;
	width: 400px;
}

.date{
	font-family: 'Six Caps', sans-serif;
	font-size: 100px;
	text-transform: uppercase;
	color: #635f5d;
}

/* Flair */
.label{
	display: inline-block;
	padding: 2px 4px;
	font-size: 11.844px;
	font-weight: bold;
	line-height: 14px;
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	white-space: nowrap;
	vertical-align: baseline;
	background-color: #999999;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

/* Box pics */
.box.fountain{
	background-image: url(../images/fountain.png);
}

.box.caves{
	background-image: url(../images/caves.png);
}

.tildes{
	background-image: url(../images/tilde.png);
	background-repeat: repeat;
	height: 21px;
}

/* Body content */
.body{
	margin: 0 auto;
	margin-top: 100px;
	width: 500px;
	text-align: left;
	font-family: 'Brawler', serif;
}

.box{
	-moz-border-radius: 15px;
	border-radius: 15px;
	background-color: #fff;
	border: 2px solid #7F7A77;
	height: 140px;
	width: 140px;
}

.body h2{
	font-weight: 700;
	font-size: 42px;
	color: #635f5d;
	padding: 10px 0;
}

.body section{
	margin-bottom: 60px;
}

ul.block-list{
	color: #999;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border: 1px solid #efefef;
	background-color: #fff;
}

ul.block-list li{
	overflow: hidden;
	padding: 20px;
}

ul.block-list address{
	padding: 5px;
}

/* Events */
ul.event-list{

}

ul.event-list li{
}

ul.event-list li h3{
	font-family: 'Tangerine', cursive;
	font-size: 36px;
}

ul.event-list li h4{
	font-weight: bold;
	font-size: 26px;
}

ul.event-list .box{
	float: right;
}

/* Accommodations */
ul.hotel-list{

}

ul.hotel-list li{
}

ul.hotel-list li h3{
	font-weight: bold;
	font-size: 26px;
}

ul.hotel-list .map{
	float: left;
	-moz-border-radius: 15px;
	border-radius: 15px;
	margin-right: 10px;
}