<!DOCTYPE html>
<html>
	<head>
		<link href='http://fonts.googleapis.com/css?family=Brawler|Tangerine:700|Diplomata+SC|Six+Caps|Cutive+Mono' rel='stylesheet' type='text/css'>
		<link href="/assets/styles/main.css" rel="stylesheet">
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-530693-9']);
			_gaq.push(['_trackPageview']);
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
		<title>{{ page.title }}</title>
		<!-- TODO: favicon would be nice -->
	</head>
	<body>
		<div id="container">
			{{ content }}

			{% include footer.html %}
		</div>
	</body>
	<script src="//cdnjs.cloudflare.com/ajax/libs/zepto/1.0/zepto.min.js"></script>
	<script>
		(function () {
			var rsvp = {
				showEvent: function (e){
					e.preventDefault();
					this.show();
				},

				show: function () {
					var $form = $('#rsvp .rsvp-form').css({
						visibility: 'hidden'
					}).show();

					var height = $form.height();

					$form.css({
						height: 0,
						visibility: 'visible',
						overflow: 'hidden'
					})

					$form.animate({
						height: height
					}, 1000);
				}
			};

			$('#rsvp-link').on('click', rsvp.showEvent.bind(rsvp));
		})();
	</script>
</html>