<!DOCTYPE html>
<html>
    <head>
        <link href='http://fonts.googleapis.com/css?family=Brawler|Tangerine:700|Diplomata+SC|Six+Caps|Cutive+Mono' rel='stylesheet' type='text/css'>
        {% css_asset_tag main %}
        - /_assets/styles/bootstrap.css
        - /_assets/styles/slides.css
        - /_assets/styles/main.css.scss
        {% endcss_asset_tag %}
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-530693-9']);
            _gaq.push(['_trackPageview']);
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
        <title>{{ page.title }}</title>
    </head>
    <body>
        <div id="container">
            {{ content }}

            {% include footer.html %}
        </div>
    </body>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    {% javascript_asset_tag main %}
    - /_assets/scripts/bootstrap.js
    - /_assets/scripts/jquery.slides.js
    - /_assets/scripts/main.js
    {% endjavascript_asset_tag %}
</html>